.item{
    position: relative;
    width: 380px;
    height: 282px;
    padding-top: 178px;
    background-image:url("../../img/Logo.svg"),url("../../img/cardImg.png"),
    linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
    background-repeat: no-repeat;
    background-size: 76px 22px, 308px 168px, 100%;
    background-position: top 20px left 20px, top 28px left 36px, 100%;
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    text-align: center;
    
}
.item::before{
        content: '';
        position: absolute;
        width: 380px;
        height: 8px;
        left: 0px;
        top: 214px;
        background: #ebd8ff;
        box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
          inset 0px -1.71846px 3.43693px #ae7be3,
          inset 0px 3.43693px 2.5777px #fbf8ff;
}
.btn{
    width: 196px;
    height: 50px;
    padding: 14px 28px;
    background-color: #EBD8FF;
    box-shadow: 0px 3.44px 3.44px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
    transition: background-color 200ms ease;

}
.btn:hover{
    background-color: #5cd3a8;
}
.btn__active{
    background-color: #5CD3A8;
    width: 196px;
    height: 50px;
    padding: 14px 28px;
    box-shadow: 0px 3.44px 3.44px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
    transition: background-color 200ms ease;
}
.btn__active:hover{
    background-color: #EBD8FF;
}
.text{
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ebd8ff;  
    font-style: normal;
    font-weight: 500;
}
.text:nth-of-type(2) {
    margin-bottom: 26px;
    }
.text:nth-of-type(1){
    margin-top: 26px;
    margin-bottom: 16px;
}
.imgThumb{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 62px;
    height: 62px;
    overflow: hidden;
    border-radius: 50%;
}
.imgBorder{
  position: relative;
  z-index: 1;
  background: #ebd8ff;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 50px;
}